h1 {
    color: blue;
    text-align: center;
    margin-top: 50px;
}
p{
    color: skyblue;
    text-align: left;
}

#back_header{
    background-color: black;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
}

#menu_3_linee{
    cursor:pointer;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linea{
    width: 100%;
    height: 3px;
    background-color: dimgray;
    border-radius: 10px;
}

#logo_container{
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

#logo_img{
    height: 150px;
    width: auto;
    z-index: 2;
}

.scritta_container{
    max-width: 0;
    opacity: 0;
    overflow: hidden;

    transition: all 0.5s ease-in-out;

    display: flex;
    align-items: center;
    margin-left: 0;
}

#scritta_logo{
    height: 150px;
    width: auto;
    white-space: nowrap;
}

#logo_container:hover .scritta_container{
    max-width: 200px;
    opacity: 1;
    margin-left: 10px;
}

#profile{
    cursor:pointer;
    color: aliceblue;
    width: 100px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#footer{
    background-color: black;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

#logo_footer{
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

#logo_image_footer{
    height: 150px;
    width: auto;
    z-index: 2;
}