<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifica</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">

</head>
<body>
    {% include 'header.html' %}
     {% if current_user.is_authenticated %}
    <main>
        <div class="classif_container">
            <h1> Classifica</h1>

        <div class="classif1_container">
            <section class="classif_sec">
                <h2>Classifica Generale:</h2>

                {% if users %}
                 <div class="classif_table">
                    <table class="table_cnt">
                    <thead> 
                        <tr> 
                          <th> Posizione  </th>  
                          <th> Username  </th>  
                          <th> Punteggio  </th>  
                          <th> Squadra Preferita  </th>  
                          <th> Data Iscrizione  </th>  
                        </tr>  
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <!--Auto increment pos-->
                            <td class="table_pos"> {{loop.index}} </td>
                            <td class="table_usn"> {{ user.username}}</td>
                            <td class="table_punt"> {{user.punteggio}} </td>
                            <td class="table_sqpre"> {{user.squad_prefer}}</td>

                            <td class="table_di"> 
                             {% if user.data_iscr %} 
                                {{user.data_iscr.strftime('%d/%m/%Y')}}
                             {% else %}
                                - 
                             {% endif %}
                            </td>
                         </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
                {% else %}
                <p>Nessun utente presente nel database.</p>
                {% endif %}
        </section>
     </div>
    </div>      
    {% else  %}
    <div class="not_auth">
     <h3>Effettua il </h3>
     <button class="btn_not_auth">
     <a href="{{url_for ('Login')}}">login</a>
     </button>
    </div>
{% endif %}  
</main>


    {% include 'footer.html' %}

</body>
</html>