<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Commenti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">
</head>
<body>
     {% include 'header.html' %}

     <main class="comment_cnt">

        <div class="comment_head">
            <h1>Commenti: {{ titolo }}</h1>
            <a href="{{ url_for('Episodi') }}" class="btn_back">Clicca qui per tornare alla sezione episodi</a>
        </div>

        <div class="comment_list">
            {% if commenti %}
                {% for c in commenti %}
                <div class="general_comment_sec">
                <div class="comment_header_sec">
                    <span class="comment_user">{{c.stampa_user}}</span>
                </div> 
                    <div class="comment_body">
                        <p>{{ c.testo }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="no_comment">
                    <p>Non ci sono commenti in questa partita</p>
                </div>
            {% endif %}
        </div>

     </main>
    
     {% include 'footer.html' %}

</body> 
</html>