<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stile.css') }}">
</head>
<body>
    <footer id="footer">
        <div id = "back_footer" class = "footer">
            
            <div id="logo_footer">
                <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo_image" id="logo_image_footer">
            </div>

            <div>

            </div>

            <div>

            </div>

            <div id="about_us">

            </div>
        
        </div>
    </footer>
</body>
</html>