<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regolamento</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">

</head>
<body>
    {% include 'header.html' %}
    <section class="sec_regolamento">
            <div class="regolamento">
                
                <div class="regolamento_title">
                    <h1>REGOLAMENTO E SISTEMA DI VALUTAZIONE</h1>
                    <h3>Come funziona l'ecosistema AfterVar</h3>
                </div>

                <div class="regolamento_content">
                    

                    <div class="reg_n">
                        <h4>1. L'Algoritmo del Giudizio Finale</h4>
                        <p>
                            Per determinare la correttezza di una decisione arbitrale, AfterVar utilizza un 
                            sistema ibrido che bilancia il parere dell'utente ovvero del tifoso, con il giudizio arbitrale.
                            Il voto definitivo è calcolato così:
                            <ul class="suspension_table">
                                <li> Il voto del tifoso incide al 40% (si tiene conto anche della sua reputazione) </li>
                                <li> Il voto della giuria arbitrale incide al 60% </li>
                                <li>N.B. il sistema di votazione comprende unicamente il voto dell'utente , quando un arbitro riceve
                                    una Sospensione tramite tale sistema , comunque spetterà alla giuria arbitrale esprimere l'altro 
                                60% in sedi opportune.</li>
                            </ul>
                        </p>
                    </div>

                    <div class="reg_n">
                        <h4>2. Sistema Disciplinare Virtuale per gli Arbitri</h4>
                        <p>
                            In base al punteggio finale dell'algoritmo, l'arbitro dell'incontro riceve 
                            una valutazione che può trasformarsi in provvedimenti virtuali:
                        </p>
                        <ul class="token">
                            <li class="token_yellow">Cartellino Giallo: Punteggio tra 26 e 50 (Errore lieve o contestato)</li>
                            <li class="token_red">Cartellino Rosso: Punteggio &#60; 25 (Errore grave).</li>
                        </ul>
                        </div>
                        <div class="reg_n">
                        <h5>3. Legenda Sospensioni</h5>
                        <p> In base ai cartellini, che un arbitro riceve, ci sono varie sospensioni, del tipo:</p>
                        <ul class="suspension_table">
                            <li>2 Gialli accumulati ➔ 1 Rosso (Sospensione 1 turno)</li>
                            <li>1 Rosso diretto ➔ Sospensione 1 turno</li>
                            <li>2 Rossi consecutivi ➔ Sospensione 3 turni</li>
                            <li>3 Rossi consecutivi ➔ Sospensione 5 turni </li>
                        </ul>
                     </div>
                
                    <div class="reg_n">
                        <h4>4. Stagioni e Reset</h4>
                        <p> Il calendario a cui fa riferimento AfterVar segue il calendario reale della Serie A(38 Giornate). 
                            Al termine di ogni stagione, avviene il "Grande Reset":</p>
                        <ul class="suspension_table">
                            <li>I punteggi vengono azzerati.</li>
                            <li>I cartellini degli arbitri vengono azzerati.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
                    
    {% include 'footer.html' %}

</body>
</html>